body {
    font-family: "Lato", sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    animation: fadeInAnimation ease 3s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
  }
  
  /* Sidebar Style */
  .sidenav {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    margin-bottom: 25%;
  }

  /* Sidebar Images*/

  .sidenav img {
    width: 50%;
    margin-left: 25%;
  }

  .circle {
    border: 5px solid rgb(255, 255, 255);
    border-radius: 50%; 
  }

  /* Sidebar Headers */

  .sidenav h3 {
      color: white;
      text-align: center;
      font-size:32px;
      margin-top: 10px;
  }

  .sidenav p {
      color: white;
      text-align: center;
      font-size:16px;
      margin-top: -10%;
      margin-bottom: 10%;
  }
  
  /* Sidebar Links */

  .sidenav a {
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    padding: 6px 8px 6px 16px;
  }

  .sidenav a.current {
    color: #000;
    background: -webkit-gradient(linear, left top, left bottom, from(#DFE7FA), to(#FFF));
    padding: 2px 6px;
  }

  .sidenav a.current:hover {
    color: #979797;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }



  .main {
    margin-left: 20%; 
    font-size: 28px; 
    padding: 0px 10px;   
     
  }

  .main-body{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    padding: 5%;
    background:rgba(255,255,255,0.7);
    font-size: 2vmax;
    
    animation: fadeInAnimation ease 3s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 

    
  }

  .main-body h1 {
    font-size: 3vmax;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  @keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
    } 
} 